# Αγνόησε όλα τα .o εκτός από αυτά στον φάκελο obj/
*.o
!obj/*.o

# Αγνόησε όλα τα .so εκτός από αυτά στον φάκελο lib/
*.so
!lib/*.so

# Αγνόησε όλα τα .a εκτός από αυτά στον φάκελο lib/
*.a
!lib/*.a

# Αγνόησε προσωρινά αρχεία από editors
*~
*.swp
